@media (max-width: 992px) {
  .header-section .nav-link::after {
    width: 100%;
    left: 0;
  }

  .header-section .offcanvas-body {
    background-color: var(--white);
    padding: 0;
  }

  .hero-section .slide .content h2,
  .hero-section .slide .content h1,
  .hero-section .slide .content .highlight {
    font-size: 30px;
  }

  .hero-section .slide .content {
    margin: 0px 0px;
  }

  .hero-section .caption {
    padding: 0px 20px;
  }

  .hero-section .hero-image {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-section .hero-caption h1,
  .hero-section .hero-caption h1 span {
    font-size: 30px;
  }

  .header-section .conatact-btn,
  .header-section .franchise-btn {
    display: none;
  }

  .introduction-section .section-title .subtitle,
  .about-section .section-title .subtitle,
  .core-value-section .section-title .subtitle,
  .service-section .section-title .subtitle,
  .process-flow-section .section-title .subtitle,
  .Why-Choose-section .section-title .subtitle,
  .our-clints .section-title .subtitle,
  .Core-Strength .section-title .subtitle,
  .testimonial-section .section-title .subtitle,
  .gallery-section .section-title .subtitle {
    font-size: 18px;
  }

  .about-section .element-1,
  .about-section .element-2,
  .menu-section .element-1,
  .menu-section .element-2,
  .why-choose-section .element-1,
  .locations-section .element-1,
  .locations-section .element-2,
  .franchise-section .element-1,
  .franchise-section .element-2 {
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 425px) {
  .hero-section .caption h1 {
    font-size: 40px;
  }

  .about-section .section-title h2,
  .menu-section .section-title h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .location-card {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .franchise-section h2 {
    font-size: 28px;
  }
  .franchise-section p {
    font-size: 16px;
  }
  .franchise-section a {
    font-size: 16px;
  }
}
