/* ====== Colors ====== */
:root {
  /* --primary-color: #63392b;
  --Secondary-color: #f2b672; */

  --primary-color: #ffffff;
  --Secondary-color: #63392bd2;
  --dark: #000000;
  --white: #fff;
  --grey: #808080;
  --bg-color: #055bac0c;
}

/* ====== Font ====== */
* {
  font-family: "Merriweather", sans-serif;
}

a {
  color: var(--primary-color);
}

strong {
  color: var(--Secondary-color);
  font-weight: 600;
}

::selection {
  background-color: var(--primary-color);
  color: var(--dark);
}

a:hover {
  text-decoration: none;
}

/* ====== header-section-start ====== */

/*========== menu bar =========*/

.header-section .menu-bar {
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

.header-section .is-sticky-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  animation: slideInDown 0.5s ease-in;
  padding: 10px 0;
  background-color: var(--white);
  padding: 0;
}

.header-section .navbar-brand img {
  height: 100px;
}

.header-section .menu-bar .nav-link {
  margin: 0px 3px;
  text-transform: capitalize;
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  position: relative;
}

.header-section .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--Secondary-color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

.header-section .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.header-section .navbar-nav .nav-link.active {
  color: var(--Secondary-color);
}

.header-section .sibar-toggle {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
}

.header-section .navbar-toggler {
  background-color: #7a3f1fef;
  color: var(--white);
  margin: 0px;
  line-height: 28px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.header-section .offcanvas-header {
  background-color: var(--primary-color);
}

.header-section .navbar-toggler:focus {
  box-shadow: none;
}

.header-section .sibar-toggle {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
  font-size: 16px;
  padding: 3px 8px;
}

.header-section .conatact-btn {
  color: var(--white);
  text-decoration: none;
  background-color: #21cf89;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

.header-section .conatact-btn i {
  font-size: 24px;
  margin-right: 5px;
}

.header-section .franchise-btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--Secondary-color);
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin: 0px 10px;
}

.header-section .offcanvas-header .btn-close {
  color: var(--white);
  opacity: 1;
  background-image: none;
  line-height: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid white;
  font-size: 16px;
  padding: 6px 8px;
  background-color: var(--dark);
}

.header-section .navbar {
  padding: 0;
}

/* === header-section-end === */

/*=== hero-section-start ===*/

.hero-section {
  padding: 90px 0px;
  position: relative;
  z-index: 1;
  background: url(../images/1669.jpg);
  background-size: cover;
  background-position: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #7a3f1fe5;
  z-index: -1;
}

.hero-section .caption h1 {
  color: #ffc788;
  font-family: "Aladin", sans-serif;
  font-weight: 700;
  font-size: 50px;
  word-spacing: 2px;
}

.hero-section .caption p {
  color: var(--white);
  margin: 15px 0px;
}

.hero-section .caption span {
  color: #ffc788;
  font-family: "Aladin", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
}

.hero-section .contact-query {
  margin-top: 40px;
}

.hero-section .contact-query a {
  color: var(--Secondary-color);
  text-decoration: none;
  background-color: #ffc788;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.5s;
}

.hero-section .contact-query a:hover {
  color: var(--white);
  background-color: var(--primary-color);
  transition: 0.5s;
}

.hero-section .hero-image {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.hero-section .hero-image img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--white);
}

/*=== hero-section-end ===*/

/* ===about-section-start=== */

.about-section {
  padding: 90px 0px;
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.about-section .about-content .section-title {
  margin-bottom: 25px;
}

.about-section .section-title span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: var(--Secondary-color);
}

.about-section .section-title span::before {
  position: absolute;
  content: "";
  background-color: var(--dark);
  height: 0px;
  width: 82px;
  bottom: -13px;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.about-section .section-title span::after {
  position: absolute;
  content: "\f7b6";
  font-family: "Font Awesome 5 Free";
  bottom: -22px;
  left: 25px;
  border-radius: 2px;
  animation: nudge1 5s linear infinite;
}

@keyframes nudge1 {
  0%,
  100% {
    transform: translateX(40px);
  }

  80% {
    transform: translate(-35px);
  }
}

.about-section .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--Secondary-color);
  margin-top: 30px;
  font-family: "Aladin", sans-serif;
}

.about-section .section-title h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--Secondary-color);
  font-family: "Aladin", sans-serif;
  margin-bottom: 30px;
}

.about-section .about-content p {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
}

.about-section .about-image img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-section .about-image,
.about-section .about-content {
  margin-bottom: 25px;
}

.about-section .element {
  position: relative;
}

.about-section .element-1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.about-section .element-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  animation: bounce linear infinite;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

/* ===about-section-end==== */

/* ===menu-section-start=== */

.menu-section {
  padding: 90px 0px;
  background: url(../images/menu-bg.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.menu-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #7a3f1fe5;
  z-index: -1;
}

.menu-section .section-title {
  margin-bottom: 50px;
  text-align: center;
}

.menu-section .section-title span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: #ffc788;
}

.menu-section .section-title span::before {
  position: absolute;
  content: "";
  background-color: var(--dark);
  width: 90px;
  bottom: -13px;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.menu-section .section-title span::after {
  position: absolute;
  content: "\f7b6";
  font-family: "Font Awesome 5 Free";
  bottom: -22px;
  left: 25px;
  border-radius: 2px;
  animation: nudge2 5s linear infinite;
}

@keyframes nudge2 {
  0%,
  100% {
    transform: translateX(45px);
  }

  80% {
    transform: translate(-25px);
  }
}

.menu-section .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: #ffc788;
  font-family: "Aladin", sans-serif;
  margin-top: 30px;
}

.menu-section .menu-item {
  margin: 25px 0px 50px 0px;
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  border: 3px solid var(--dark);
  text-align: center;
}

.menu-section .menu-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f2b672bd;
  z-index: -1;
  border-radius: 20px;
}

.menu-section .menu-item .menu-item-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  height: 150px;
  width: 150px;
}

.menu-section .menu-item .menu-item-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--dark);
  animation: swing linear infinite;
  animation-duration: 10s;
}

.menu-section .menu-item h3 {
  font-size: 20px;
  color: var(--Secondary-color);
  font-weight: 800;
  margin-bottom: 20px;
}

.menu-section .menu-item p {
  font-size: 18px;
  color: var(--dark);
  font-weight: 600;
}

.menu-section .menu-item img {
  border-radius: 10px;
}

.menu-section .element-1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.menu-section .element-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

/* ===menu-section-end=== */

/* ===why-choose-stction-start=== */

.why-choose-section {
  padding: 90px 0px;
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.why-choose-section .section-title {
  margin-bottom: 50px;
  text-align: center;
}

.why-choose-section .section-title span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: var(--Secondary-color);
}

.why-choose-section .section-title span::before {
  position: absolute;
  content: "";
  background-color: var(--dark);
  width: 90px;
  bottom: -13px;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.why-choose-section .section-title span::after {
  position: absolute;
  content: "\f7b6";
  font-family: "Font Awesome 5 Free";
  bottom: -22px;
  left: 25px;
  border-radius: 2px;
  animation: nudge3 5s linear infinite;
}

@keyframes nudge3 {
  0%,
  100% {
    transform: translateX(90px);
  }

  80% {
    transform: translate(-25px);
  }
}

.why-choose-section .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--Secondary-color);
  font-family: "Aladin", sans-serif;
  margin-top: 30px;
}

.why-choose-section .element-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.why-choose-section .why-choose-item {
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 20px;
  height: 370px;
  transition: 0.5s ease-in-out;
  background: url(../images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.why-choose-section .why-choose-item::before {
  content: "";
  position: absolute;
  background-color: #9c5734f1;
  inset: 0;
  z-index: -1;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.why-choose-section .why-choose-item:hover::before {
  background-color: #9c5734;
  transition: 0.5s ease-in-out;
}

.why-choose-section .why-choose-item .icon {
  margin-bottom: 25px;
  background-color: var(--Secondary-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem rgb(216, 119, 54));
  border: 1px solid var(--white);
}

.why-choose-section .why-choose-item h3 {
  font-size: 20px;
  font-weight: 800;
  color: #fcd6aa;
  margin-bottom: 15px;
}

.why-choose-section .why-choose-item p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}
/* ===why-choose-stction-end=== */
