/* ====== Colors ====== */
:root {
  /* --primary-color: #63392b;
  --Secondary-color: #f2b672; */

  --primary-color: #ffffff;
  --Secondary-color: #61392b;
  --dark: #000000;
  --white: #fff;
  --grey: #808080;
  --bg-color: #055bac0c;
  --bg-color-second: #fab86173;
}

/* ====== Font ====== */
* {
  font-family: "Merriweather", sans-serif;
}

a {
  color: var(--primary-color);
}

strong {
  color: var(--Secondary-color);
  font-weight: 600;
}

::selection {
  background-color: var(--primary-color);
  color: var(--dark);
}

a:hover {
  text-decoration: none;
}

/* ====== header-section-start ====== */

/*========== menu bar =========*/

.header-section .menu-bar {
  width: 100%;
  background-color: var(--bg-color-second);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  position: relative;
}

.header-section .is-sticky-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  animation: slideInDown 0.5s ease-in;
  background-color: var(--white);
  padding: 0;
}

.header-section .navbar-brand img {
  height: 80px;
}

.header-section .menu-bar .nav-link {
  margin: 0px 3px;
  text-transform: capitalize;
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  transition: 0.5s ease-in;
}

.header-section .nav-link::after {
  width: 0;
  height: 2px;
  background-color: var(--dark);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in;
}

.header-section .nav-link:hover:after {
  width: 100%;
  transition: 0.3s ease-in;
}

.header-section .navbar-nav .nav-link.active {
  color: var(--Secondary-color);
}

.header-section .sibar-toggle {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
}

.header-section .navbar-toggler {
  background-color: #7a3f1fef;
  color: var(--white);
  margin: 0px;
  line-height: 28px;
  border-radius: 5px;
  border: none;
  padding: 3px 10px;
}

.header-section .navbar-toggler i {
  line-height: 30px;
}

.header-section .offcanvas-header {
  background-color: var(--Secondary-color);
}

.header-section .navbar-toggler:focus {
  box-shadow: none;
}

.header-section .sibar-toggle {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
  font-size: 16px;
  padding: 3px 8px;
}

.header-section .conatact-btn {
  color: var(--white);
  text-decoration: none;
  background-color: #21cf89;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

.header-section .conatact-btn i {
  font-size: 24px;
  margin-right: 5px;
}

.header-section .franchise-btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--Secondary-color);
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin: 0px 10px;
}

.header-section .offcanvas-header .btn-close {
  color: var(--white);
  opacity: 1;
  background-image: none;
  line-height: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid white;
  font-size: 16px;
  padding: 6px 8px;
  background-color: var(--dark);
}

.header-section .navbar {
  padding: 0;
}

/* === header-section-end === */

/*=== hero-section-start ===*/
.hero-section {
  padding: 70px 0px;
  z-index: 1;
  text-align: center;
  color: var(--white);
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(20, 8, 2, 0.397);
  z-index: 0;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.hero-section .caption {
  padding: 0px 250px;
  position: relative;
  z-index: 1;
}

.hero-section .caption h1 {
  color: #ffc788;
  font-family: "Aladin", sans-serif;
  font-weight: 700;
  font-size: 50px;
  word-spacing: 2px;
}

.hero-section .caption p {
  color: var(--white);
  margin: 15px 0px;
}

.hero-section .caption span {
  color: #ffc788;
  font-family: "Aladin", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
}

.hero-section .contact-query {
  margin-top: 40px;
}

.hero-section .contact-query a {
  color: var(--Secondary-color);
  text-decoration: none;
  background-color: #ffc788;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.5s ease;
}

.hero-section .contact-query a:hover {
  color: var(--Secondary-color);
  background-color: var(--primary-color);
}

.hero-section .hero-image {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 40px auto;
}

.hero-section .hero-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--white);
}

@keyframes overlay-fade {
  0% {
    background-color: rgba(71, 37, 18, 0.61);
  }
  100% {
    background-color: rgba(12, 9, 7, 0.795);
  }
}

.hero-section::before {
  animation: overlay-fade 2s ease-in-out forwards;
}

/*=== hero-section-end ===*/

/* ===about-section-start=== */

.about-section {
  padding: 90px 0px;
  background-color: var(--white);
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.about-section .about-content .section-title {
  margin-bottom: 25px;
}

.about-section .section-title span {
  font-size: 18px;
  font-weight: 700;
  color: var(--Secondary-color);
}

.about-section .section-title span img {
  height: 25px;
  margin-bottom: 10px;
}

.about-section .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--Secondary-color);
  margin-top: 20px;
  font-family: "Aladin", sans-serif;
}

.about-section .section-title h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--Secondary-color);
  font-family: "Aladin", sans-serif;
  margin-bottom: 30px;
}

.about-section .about-content p {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
}

.about-section .about-image img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-section .about-image,
.about-section .about-content {
  margin-bottom: 25px;
}

.about-section .element {
  position: relative;
}

.about-section .element-1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.about-section .element-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  animation: bounce linear infinite;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

/* ===about-section-end==== */

/* ===menu-section-start=== */

.menu-section {
  padding: 90px 0px;
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.menu-section .section-title {
  margin-bottom: 50px;
  text-align: center;
}

.menu-section .section-title span {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
}

.menu-section .section-title span img {
  height: 25px;
  margin-bottom: 10px;
}

.menu-section .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--dark);
  font-family: "Aladin", sans-serif;
  margin-top: 20px;
}

.menu-section .menu-item {
  margin: 25px 0px 50px 0px;
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  border: 3px solid var(--dark);
  text-align: center;
}

.menu-section .menu-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f2b672bd;
  z-index: -1;
  border-radius: 20px;
}

.menu-section .menu-item .menu-item-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  height: 150px;
  width: 150px;
}

.menu-section .menu-item .menu-item-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--dark);
  animation: swing linear infinite;
  animation-duration: 10s;
}

.menu-section .menu-item h3 {
  font-size: 20px;
  color: var(--Secondary-color);
  font-weight: 800;
  margin-bottom: 20px;
}

.menu-section .menu-item p {
  font-size: 18px;
  color: var(--dark);
  font-weight: 600;
}

.menu-section .menu-item img {
  border-radius: 10px;
}

.menu-section .element-1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.menu-section .element-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

/* ===menu-section-end=== */

/* ===why-choose-stction-start=== */

.why-choose-section {
  padding: 90px 0px;
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.why-choose-section .section-title {
  margin-bottom: 50px;
  text-align: center;
}

.why-choose-section .section-title span {
  font-size: 18px;
  font-weight: 700;
  color: var(--Secondary-color);
}

.why-choose-section .section-title span img {
  height: 25px;
  margin-bottom: 10px;
}

.why-choose-section .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--Secondary-color);
  font-family: "Aladin", sans-serif;
  margin-top: 20px;
}

.why-choose-section .element-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.why-choose-section .why-choose-item {
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 20px;
  height: 370px;
  transition: 0.5s ease-in-out;
  background: url(../images/tea-element.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.why-choose-section .why-choose-item::before {
  content: "";
  position: absolute;
  background-color: #9c5734e3;
  inset: 0;
  z-index: -1;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.why-choose-section .why-choose-item:hover::before {
  background-color: #9c5734;
  transition: 0.5s ease-in-out;
}

.why-choose-section .why-choose-item:hover {
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
}

.why-choose-section .why-choose-item .icon {
  margin-bottom: 25px;
  background-color: var(--Secondary-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem rgb(216, 119, 54));
  border: 1px solid var(--white);
}

.why-choose-section .why-choose-item h3 {
  font-size: 20px;
  font-weight: 800;
  color: #fcd6aa;
  margin-bottom: 15px;
}

.why-choose-section .why-choose-item p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}
/* ===why-choose-stction-end=== */

/* ===locations-section-star=== */

.locations-section {
  position: relative;
  overflow: hidden;
  padding: 90px 0px;
  text-align: center;
  background-color: var(--white);
}

.locations-section .section-title {
  margin-bottom: 45px;
  text-align: center;
}

.locations-section .section-title span {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
}

.locations-section .section-title span img {
  height: 25px;
  margin-bottom: 10px;
}

.locations-section .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--dark);
  font-family: "Aladin", sans-serif;
  margin-top: 20px;
}

.locations-section p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #555;
}
.locations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.location-card {
  background-color: #f7f3e9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: left;
}
.location-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.location-card .details {
  padding: 20px;
  background-color: var(--white);
}
.location-card h3 {
  font-size: 18px;
  color: #e67e22;
  font-weight: 700;
  margin-bottom: 10px;
}
.location-card p {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #555;
}
.locations-section a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: var(--Secondary-color);
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  border: 1px solid var(--Secondary-color);
}
.locations-section a:hover {
  background-color: var(--white);
  color: var(--Secondary-color);
}

.locations-section .element-1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.locations-section .element-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 130px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

/* ===locations-section-end=== */

/* ===franchise-section-start=== */

.franchise-section {
  background-color: var(--white);
  padding: 45px 0px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.franchise-section h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--Secondary-color);
  font-family: "Aladin", sans-serif;
  margin-bottom: 30px;
}

.franchise-section p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.franchise-section a {
  display: inline-block;
  padding: 12px 20px;
  background-color: var(--Secondary-color);
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid var(--Secondary-color);
}
.franchise-section a:hover {
  background-color: var(--white);
  color: var(--Secondary-color);
  transition: 0.2s ease-in-out;
}

.franchise-section .element-1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;
  width: 80px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

.franchise-section .element-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 80px;
  display: inline-block;
  animation: swing linear infinite;
  animation-duration: 10s;
}

/* ===franchise-section-end=== */

/* ===footer-section-start=== */

.footer {
  padding-top: 45px;
  background-color: var(--bg-color-second);
  position: relative;
}

.footer .footer-item {
  position: relative;
  margin-bottom: 40px;
}

.footer .footer-item img {
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.footer .footer-item h2 {
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0px 15px 0px;
  margin: 0;
  position: relative;
}

.footer .footer-item h3 {
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  padding-top: 15px;
  margin: 0;
  position: relative;
}

.footer .footer-item h2::before {
  content: "";
  position: absolute;
  bottom: 3px;
  height: 4px;
  width: 50px;
  background-color: var(--Secondary-color);
}

.footer .footer-item p {
  color: var(--dark);
  font-size: 16px;
  padding: 20px 20px 0px 0px;
  margin: 0;
}

.footer .footer-item .social-icon {
  display: flex;
  list-style: none;
  margin-top: 15px;
}

.footer .footer-item .social-icon li {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--Secondary-color);
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.432);
}

.footer .footer-item .social-icon li:hover {
  background-color: var(--dark);
  transition: 0.5s;
  transform: translateY(-5px);
}

.footer .footer-item .social-icon li:hover a {
  color: var(--white);
  transition: 1s;
}

.footer .footer-item .social-icon li a {
  color: var(--white);
  text-decoration: none;
}

.footer .footer-item .about-list {
  list-style: none;
  padding: 0;
}

.footer .footer-item .about-list li {
  margin: 10px 0px;
  font-size: 16px;
  transition: 1s;
}

.footer-item .about-list li:hover {
  transition: 1s;
  padding-left: 5px;
}

.footer .footer-item .about-list li a {
  color: var(--dark);
  text-decoration: none;
}

.footer .footer-item .about-list li i {
  color: var(--primary-color);
  padding-right: 5px;
}

.footer .footer-item .service-links {
  list-style: none;
  padding: 0;
}

.footer .footer-item .service-links li {
  margin: 15px 0px;
  font-size: 16px;
  color: var(--dark);
  transition: 1s;
}

.footer .footer-item .service-links li:hover {
  padding-left: 5px;
  transition: 1s;
}

.footer .footer-item .service-links li a {
  color: var(--dark);
  text-decoration: none;
}

.footer .footer-item .service-links li i {
  color: var(--primary-color);
  padding-right: 5px;
}

.footer .footer-item .contact-list {
  list-style: none;
  padding: 0;
}

.footer .footer-item .contact-list li {
  margin: 15px 0px;
  font-size: 16px;
  color: var(--white);
  transition: 1s;
}

.footer .footer-item .contact-list li:hover {
  padding-left: 5px;
  transition: 1s;
}

.footer .footer-item .contact-list li a {
  color: var(--dark);
  text-decoration: none;
}

.footer .footer-item .contact-list li i {
  color: var(--dark);
  padding-right: 5px;
}

.footer .footer-main {
  border-top: 1px solid rgba(0, 0, 0, 0.342);
  margin-top: 25px;
}

.footer .copy-right {
  margin-top: 20px;
}

.footer .copy-right p {
  color: var(--dark);
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.footer .copy-right a {
  color: var(--dark);
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
}

.footer .top-button .top {
  background-color: var(--primary-color);
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 8px;
  color: var(--Secondary-color);
  right: 1em;
  bottom: 0;
  position: fixed;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  z-index: 9999;
  margin-bottom: 10px;
  transition: 1s;
  border: 1px solid var(--Secondary-color);
}

.footer .top-button .top {
  animation: pulse infinite;
  animation-duration: 1s;
}

.footer .top-button .top:hover {
  background-color: var(--primary-color);
  transition: 1s;
}

.footer .calling-button .call-btn {
  background-color: var(--primary-color);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 8px;
  color: var(--Secondary-color);
  right: 1.1em;
  bottom: 7.3rem;
  position: fixed;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  z-index: 9999;
  margin-bottom: 10px;
  transition: 5s;
  border: 1px solid var(--Secondary-color);
}

.footer .whatsapp-button .whatsapp-chat {
  background-color: #08bf3f;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  right: 1.1em;
  bottom: 3.5rem;
  position: fixed;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  z-index: 9999;
  margin-bottom: 10px;
  transition: ease-in-out 1s;
}

/* ===footer-section-end=== */

/*===breadcrumb-section-start===*/

.breadcrumb-section {
  padding: 50px 0px;
  position: relative;
  background: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  height: 300px;
  display: flex;
  align-items: center;
}

.breadcrumb-section::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: #000000c0;
  z-index: -1;
}

.breadcrumb-section .breadcrumb-heading h2 {
  font-size: 40px;
  color: var(--white);
  font-weight: 600;
  z-index: 1;
  margin: 0;
  text-align: center;
}

.breadcrumb-section .breadcrumb {
  justify-content: center;
  padding: 0;
  margin: 0;
}

.breadcrumb-section .breadcrumb li {
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  z-index: 1;
  padding: 5px 10px;
}

.breadcrumb-section .breadcrumb li a {
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
}

.breadcrumb-section .breadcrumb li a:hover {
  color: var(--primary-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--white);
}

.breadcrumb-section .breadcrumb-box {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #61392b;
  margin: 0 auto;
}
/*===breadcrumb-section-end===*/

/*===complete-menu-section-start===*/

.complete-menu {
  padding: 90px 0px;
  background-color: #dcf5c4be;
}

.complete-menu .section-title {
  margin-bottom: 50px;
  text-align: center;
}

.complete-menu .section-title span {
  font-size: 18px;
  font-weight: 700;
  color: var(--Secondary-color);
}

.complete-menu .section-title span img {
  height: 25px;
  margin-bottom: 10px;
}

.complete-menu .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--Secondary-color);
  font-family: "Aladin", sans-serif;
  margin-top: 20px;
}

.complete-menu .menu-box {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.complete-menu .menu-box .flex-grow-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.complete-menu .menu-list {
  flex-grow: 1;
}

.complete-menu .menu-box img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: 0.5s;
}

.complete-menu .menu-box:hover img {
  transform: scale(0.9);
  transition: 0.5s;
}

.complete-menu .menu-box h3 {
  font-size: 20px;
  color: var(--Secondary-color);
  font-weight: 900;
  margin-bottom: 20px;
}

.complete-menu .menu-box .menu-list {
  padding: 0px 10px;
}

.complete-menu .menu-box .menu-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.complete-menu .menu-list ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--dark);
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.complete-menu .menu-list ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -5px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.589);
}

/*===complete-menu-section-end===*/

.locations-section {
  padding: 90px 0px;
}
